<!DOCTYPE html>
<html>
    <title>Theta Events - Home</title>
    <% var loggedIn; %>
    
    <% include ./partials/head %>

    <% include ./partials/navbar %>

    <body>
        <main>
            <div class="container">
                <div class="row">
                    <br />
                    <h2 class="bold fg-grey">Error</h2>

                    <p><%= text %></p>
                </div>
            </div>
        </main>

        <% include ./partials/footer %>
    </body>
</html>